.whyChooseContentNumStyles {
    font-size: 40px;
    font-weight: 700;
}

.whyChooseContentSymbol {
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .whyChooseContentNumStyles {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .whyChooseContentSymbol {
        font-size: 1.5rem;
    }
}