.subServices {
    display: none;
}

.subServices:hover {
    display: block;
}

.bgHomePage {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/HomeBgImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}