@import "tailwindcss";

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: gray;
}

.custom-y-scrollBar::-webkit-scrollbar {
  width: 6px;
}